@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

:root {
  --color-bg: white;
  --color-bg-variant: #2f2f2f;
  --color-primary:#2f2f2f;
  --color-primary-variant: #F0C808;
  --color-white: #F0C808;
  --color-light: #F0C808;
  --transition: all 200ms ease;
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-ms: 90%
}

::-webkit-scrollbar {
  display: none;
}

.shopping__container {
  width: 940px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
}

/* ===================================MOBILE QUERRIE========================================= */
@media screen and (max-width: 600px) {
  .shopping__container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
}